
.projectbox-container{
    width: 800px;
    height: auto;
    background: #9fdd8d;
    overflow: hidden;
    border-radius: 8px;
    margin: 1px auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;

    background: rgba(108, 179, 86, 0.6);
    backdrop-filter: blur(20px);
}

.projectbox-container .project-container{
    margin-left: 2rem;
}

.projectbox-container .project-title{
    color: black;
    font-size: 1.5rem;
    text-decoration: underline;
    padding-bottom: 0.6rem;
    cursor: pointer;
}

.projectbox-container .project-title:hover {
    font-weight: bolder;
}

.projectbox-container .project-description{
    color: black;
}

.fa-check {
    margin-right: 20px;
    color: green;
    border: 2px solid green;
    border-radius: 100%;
    padding: 1px;
    margin-right: -1.2rem;
}

.remove {
    margin-left: auto;
    cursor: pointer;
    text-decoration: underline;
}

.remove:hover {
    color: red;
}

@media only screen and (max-width: 900px) {
    .projectbox-container{
        width: 90%;
    }

    .projectbox-container .project-container{
        margin-left: 1rem;
    }

    .projectbox-container .project-title{
        font-size: 1.2rem;
        padding-bottom: 0.4rem;
    }

    .fa-check {
        margin-right: 1px;
    }
}