.helpBox{
    width: 500px;
    margin: auto;
    border: 2px solid red;
    background-color: rgb(188, 216, 180);
    padding: 2rem;
}

.helpBox h3{
    text-align: center;
    font-size: 1.4rem;
    text-decoration: underline;
    margin-bottom: 0.8rem;
}

.helpBox p{
    text-align: justify;
    font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
    .helpBox{
        width: 90%;
        padding: 0.5rem;
    }

    .helpBox h3{
        font-size: 1.3rem;
    }

    .helpBox p{
        font-size: 1rem;
    }
}