.projectInfoContainer{
    display: flex;
}

.fa-arrow-left {
    color: green;
    padding: 1px;
    margin: 10px 30px;
    cursor: pointer;
}
  
.fa-arrow-left:hover{
    color: #1b7001;
}

.projInfo{
    margin: 0 auto;
    width: 50%;
    padding: 0 2rem 2rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.projInfo .editBtn{
    text-align: right;
}

.editBtn span{
    cursor: pointer;
}

.editBtn span:hover{
    color: blue;
    text-decoration: underline;
}

.projInfo h2{
    font-size: 2rem;
}

.projInfo p:nth-child(3){
    margin-bottom: 1rem;
}

.completed{
    text-decoration: line-through;
    background-color: rgba(0, 128, 0, 0.3);
}

.completedBtn {
    border-radius: 1rem;
}

.projectInfoContainer button{
    padding: 2px 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1rem;
}

.projInfo .btnComplete{
    background-color: green;
}

.projInfo .btnDelete{
    background-color: red;
}

@media only screen and (max-width: 900px) {
    .fa-arrow-left {
        display: none;
    }

    .projInfo{
        width: 90%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .projInfo h2{
        font-size: 1.3rem;
    }
}